In [52]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import time
import os

In [53]:
capsules = 'capsules'

x = ['capsules','cores','dragons','history','info','landpads','launches','launchpads','missions','payloads','rockets','roadster','ships']
collection_df = pd.DataFrame(x,columns=['collection'])




    
# params1 = {
#     'collection': x 
    
# }
# response_base = requests.get(base_url,params1).json()
# response_base
collection_df

    collection
0     capsules
1        cores
2      dragons
3      history
4         info
5     landpads
6     launches
7   launchpads
8     missions
9     payloads
10     rockets
11    roadster
12       ships

In [54]:
url = 'https://api.spacexdata.com/v3/capsules'
response1 = requests.get(url).json()
response1[0]
# response1[0]['capsule_serial']
# response1[0]['capsule_id']
# response1[0]['status']
# response1[0]['original_launch']
# response1[0]['original_launch_unix']
# response1[0]['missions']
# response1[0]['landings']
# response1[0]['type']
# response1[0]['details']
# response1[0]['reuse_count']

{'capsule_serial': 'C101',
 'capsule_id': 'dragon1',
 'status': 'retired',
 'original_launch': '2010-12-08T15:43:00.000Z',
 'original_launch_unix': 1291822980,
 'missions': [{'name': 'COTS 1', 'flight': 7}],
 'landings': 0,
 'type': 'Dragon 1.0',
 'details': 'Reentered after three weeks in orbit',
 'reuse_count': 0}

In [55]:
spacex_all = []
for x in collection_df['collection']:
    url = 'https://api.spacexdata.com/v3/'+x
    response = requests.get(url).json()
    spacex_all.append(response)
#     lists.append(response)
#     response = requests.get(f'{url+row}').json()

In [73]:

collection_names = [x for x in collection_df['collection'] + '_df']

# for i in range(len(spacex_all)):
#     collection_names[i] = pd.DataFrame()
      
capsules_df = pd.DataFrame(spacex_all[0])
cores_df=pd.DataFrame(spacex_all[1])
dragons_df=pd.DataFrame(spacex_all[2])
history_df=pd.DataFrame(spacex_all[3])
Info_df=pd.DataFrame(spacex_all[4])
landpads_df=pd.DataFrame(spacex_all[5])
launches_df=pd.DataFrame(spacex_all[6])
launchpads_df=pd.DataFrame(spacex_all[7])
missions_df=pd.DataFrame(spacex_all[8])
payloads_df=pd.DataFrame(spacex_all[9])
rockets_df=pd.DataFrame(spacex_all[10])
roadster_df=pd.DataFrame(spacex_all[11])
ships_df=pd.DataFrame(spacex_all[12])

,ship_id,ship_name,ship_model,ship_type,roles,active,imo,mmsi,abs,class,...,speed_kn,course_deg,position,successful_landings,attempted_landings,missions,url,image,attempted_catches,successful_catches
0,AMERICANCHAMPION,American Champion,None,Tug,"[Support Ship, Barge Tug]",False,7434016.0,367020820.0,571252.0,7604342.0,...,None,None,"{'latitude': None, 'longitude': None}",NaN,NaN,"[{'name': 'COTS 1', 'flight': 7}, {'name': 'CO...",https://www.marinetraffic.com/en/ais/details/s...,https://i.imgur.com/woCxpkj.jpg,NaN,NaN
1,AMERICANISLANDER,American Islander,None,Cargo,[Dragon Recovery],False,NaN,367035570.0,NaN,NaN,...,None,None,"{'latitude': None, 'longitude': None}",NaN,NaN,"[{'name': 'CRS-1', 'flight': 9}, {'name': 'CRS...",https://www.marinetraffic.com/en/ais/details/s...,https://i.imgur.com/jmj8Sh2.jpg,NaN,NaN
2,AMERICANSPIRIT,American Spirit,None,Cargo,[Support Ship],False,NaN,NaN,NaN,NaN,...,None,None,"{'latitude': None, 'longitude': None}",NaN,NaN,"[{'name': 'CASSIOPE', 'flight': 11}]",None,None,NaN,NaN
3,ASOG,A Shortfall of Gravitas,None,Barge,[ASDS barge],False,NaN,NaN,NaN,NaN,...,None,None,"{'latitude': None, 'longitude': None}",0.0,0.0,[],None,None,NaN,NaN
4,BETTYRGAMBARELLA,Betty R Gambarella,None,Tug,[ASDS Tug],False,7517478.0,368000890.0,562590.0,7427463.0,...,None,None,"{'latitude': None, 'longitude': None}",NaN,NaN,"[{'name': 'FormoSat-5', 'flight': 46}, {'name'...",https://www.marinetraffic.com/en/ais/details/s...,https://i.imgur.com/ngYgFnn.jpg,NaN,NaN

In [58]:
for i in collection_names:
    assigndf(i)

In [ ]:

all_collection = ['capsules','cores','dragons']


# params_all = {
    
#     'collection': x
    
# }

for x in all_collection:
#     x = all_collection[x]

     params_all = {
    
     'collection': x
    
     }
#     print(f'Processing Record i set of j | x')
     response = requests.get(base_url,params=params_all).json()
     print(response)
    
    
    
    
    
# params_capsules = {
#     'capsules':capsules,
#     'capsules_serial':capsules_serial    
    
# }

In [ ]:
#example url

In [ ]:


request = requests.get(base_url,params_all).json()

In [ ]:
request