In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import time
import os

In [2]:
#START CODE HERE#
#EXTRACT#

x = ['capsules',
     'cores',
     'dragons',
     'history',
     'info',
     'landpads',
     'launches',
     'launchpads',
     'missions',
     'payloads',
     'rockets',
     'roadster',
     'ships']

collection_df = pd.DataFrame(x,columns=['collection'])
   
# params1 = {
#     'collection': x 
    
# }
# response_base = requests.get(base_url,params1).json()
# response_base
collection_df

    collection
0     capsules
1        cores
2      dragons
3      history
4         info
5     landpads
6     launches
7   launchpads
8     missions
9     payloads
10     rockets
11    roadster
12       ships

In [3]:
url = 'https://api.spacexdata.com/v3/capsules'
response1 = requests.get(url).json()
response1[0]

# response1[0]['capsule_serial']
# response1[0]['capsule_id']
# response1[0]['status']
# response1[0]['original_launch']
# response1[0]['original_launch_unix']
# response1[0]['missions']
# response1[0]['landings']
# response1[0]['type']
# response1[0]['details']
# response1[0]['reuse_count']

{'capsule_serial': 'C101',
 'capsule_id': 'dragon1',
 'status': 'retired',
 'original_launch': '2010-12-08T15:43:00.000Z',
 'original_launch_unix': 1291822980,
 'missions': [{'name': 'COTS 1', 'flight': 7}],
 'landings': 0,
 'type': 'Dragon 1.0',
 'details': 'Reentered after three weeks in orbit',
 'reuse_count': 0}

In [4]:
spacex_all = []
for x in collection_df['collection']:
    url = 'https://api.spacexdata.com/v3/'+x
    response = requests.get(url).json()
    spacex_all.append(response)
#     lists.append(response)
#     response = requests.get(f'{url+row}').json()

[spacex_all[0]]

[[{'capsule_serial': 'C101',
   'capsule_id': 'dragon1',
   'status': 'retired',
   'original_launch': '2010-12-08T15:43:00.000Z',
   'original_launch_unix': 1291822980,
   'missions': [{'name': 'COTS 1', 'flight': 7}],
   'landings': 0,
   'type': 'Dragon 1.0',
   'details': 'Reentered after three weeks in orbit',
   'reuse_count': 0},
  {'capsule_serial': 'C102',
   'capsule_id': 'dragon1',
   'status': 'retired',
   'original_launch': '2012-05-02T07:44:00.000Z',
   'original_launch_unix': 1335944640,
   'missions': [{'name': 'COTS 2', 'flight': 8}],
   'landings': 1,
   'type': 'Dragon 1.0',
   'details': 'First Dragon spacecraft',
   'reuse_count': 0},
  {'capsule_serial': 'C103',
   'capsule_id': 'dragon1',
   'status': 'unknown',
   'original_launch': '2012-10-08T00:35:00.000Z',
   'original_launch_unix': 1349656500,
   'missions': [{'name': 'CRS-1', 'flight': 9}],
   'landings': 1,
   'type': 'Dragon 1.0',
   'details': 'First of twenty missions flown under the CRS1 contract',
   'reuse_count': 0},
  {'capsule_serial': 'C104',
   'capsule_id': 'dragon1',
   'status': 'unknown',
   'original_launch': '2013-03-01T19:10:00.000Z',
   'original_launch_unix': 1362165000,
   'missions': [{'name': 'CRS-2', 'flight': 10}],
   'landings': 1,
   'type': 'Dragon 1.0',
   'details': None,
   'reuse_count': 0},
  {'capsule_serial': 'C105',
   'capsule_id': 'dragon1',
   'status': 'unknown',
   'original_launch': '2014-04-18T19:25:00.000Z',
   'original_launch_unix': 1397849100,
   'missions': [{'name': 'CRS-3', 'flight': 14}],
   'landings': 1,
   'type': 'Dragon 1.1',
   'details': 'First Dragon v1.1 capsule',
   'reuse_count': 0},
  {'capsule_serial': 'C106',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2014-09-21T05:52:00.000Z',
   'original_launch_unix': 1411278720,
   'missions': [{'name': 'CRS-4', 'flight': 18},
    {'name': 'CRS-11', 'flight': 41},
    {'name': 'CRS-19', 'flight': 85}],
   'landings': 3,
   'type': 'Dragon 1.1',
   'details': 'First Dragon capsule to be reused',
   'reuse_count': 2},
  {'capsule_serial': 'C107',
   'capsule_id': 'dragon1',
   'status': 'unknown',
   'original_launch': '2015-01-10T09:47:00.000Z',
   'original_launch_unix': 1420883220,
   'missions': [{'name': 'CRS-5', 'flight': 19}],
   'landings': 1,
   'type': 'Dragon 1.1',
   'details': None,
   'reuse_count': 0},
  {'capsule_serial': 'C108',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2015-04-14T20:10:00.000Z',
   'original_launch_unix': 1429042200,
   'missions': [{'name': 'CRS-6', 'flight': 22},
    {'name': 'CRS-13', 'flight': 51},
    {'name': 'CRS-18', 'flight': 82}],
   'landings': 3,
   'type': 'Dragon 1.1',
   'details': 'Second Dragon capsule to be reused',
   'reuse_count': 2},
  {'capsule_serial': 'C109',
   'capsule_id': 'dragon1',
   'status': 'destroyed',
   'original_launch': '2015-06-28T14:21:00.000Z',
   'original_launch_unix': 1435501260,
   'missions': [{'name': 'CRS-7', 'flight': 24}],
   'landings': 0,
   'type': 'Dragon 1.1',
   'details': 'Destroyed on impact after F9 launch failure',
   'reuse_count': 0},
  {'capsule_serial': 'C110',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2016-04-08T20:43:00.000Z',
   'original_launch_unix': 1460148180,
   'missions': [{'name': 'CRS-8', 'flight': 28},
    {'name': 'CRS-14', 'flight': 59}],
   'landings': 2,
   'type': 'Dragon 1.1',
   'details': None,
   'reuse_count': 1},
  {'capsule_serial': 'C111',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2016-07-18T04:45:00.000Z',
   'original_launch_unix': 1468817100,
   'missions': [{'name': 'CRS-9', 'flight': 32},
    {'name': 'CRS-15', 'flight': 64}],
   'landings': 2,
   'type': 'Dragon 1.1',
   'details': None,
   'reuse_count': 1},
  {'capsule_serial': 'C112',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2017-02-19T14:39:00.000Z',
   'original_launch_unix': 1487515140,
   'missions': [{'name': 'CRS-10', 'flight': 36},
    {'name': 'CRS-16', 'flight': 72}],
   'landings': 2,
   'type': 'Dragon 1.1',
   'details': None,
   'reuse_count': 1},
  {'capsule_serial': 'C113',
   'capsule_id': 'dragon1',
   'status': 'active',
   'original_launch': '2017-08-14T16:31:00.000Z',
   'original_launch_unix': 1502728260,
   'missions': [{'name': 'CRS-12', 'flight': 45},
    {'name': 'CRS-17', 'flight': 78}],
   'landings': 2,
   'type': 'Dragon 1.1',
   'details': 'The last newly manufactured Dragon 1',
   'reuse_count': 1},
  {'capsule_serial': 'C201',
   'capsule_id': 'dragon2',
   'status': 'active',
   'original_launch': '2019-03-02T07:45:00.000Z',
   'original_launch_unix': 1551512700,
   'missions': [{'name': 'CCtCap Demo Mission 1', 'flight': 76}],
   'landings': 1,
   'type': 'Dragon 2.0',
   'details': 'Destroyed in a test anomaly at LZ-1 on April 20, 2019',
   'reuse_count': 0},
  {'capsule_serial': 'C202',
   'capsule_id': 'dragon2',
   'status': 'active',
   'original_launch': None,
   'original_launch_unix': None,
   'missions': [],
   'landings': 0,
   'type': 'Dragon 2.0',
   'details': "Capsule used to qualify Dragon 2's environmental control and life support systems.",
   'reuse_count': 0},
  {'capsule_serial': 'C203',
   'capsule_id': 'dragon2',
   'status': 'active',
   'original_launch': None,
   'original_launch_unix': None,
   'missions': [],
   'landings': 0,
   'type': 'Dragon 2.0',
   'details': 'Rumored to be used for Inflight Abort Test after DM-1',
   'reuse_count': 0},
  {'capsule_serial': 'C204',
   'capsule_id': 'dragon2',
   'status': 'active',
   'original_launch': None,
   'original_launch_unix': None,
   'missions': [],
   'landings': 0,
   'type': 'Dragon 2.0',
   'details': 'Currently in construction for use in DM-2',
   'reuse_count': 0},
  {'capsule_serial': 'C205',
   'capsule_id': 'dragon2',
   'status': 'active',
   'original_launch': None,
   'original_launch_unix': None,
   'missions': [],
   'landings': 0,
   'type': 'Dragon 2.0',
   'details': 'In construction for use in first mission in contract under the CCtCap contract',
   'reuse_count': 0}]]

In [5]:

collection_names = [x for x in collection_df['collection'] + '_df']

# for i in range(len(spacex_all)):
#     collection_names[i] = pd.DataFrame()
      
capsules_df = pd.DataFrame(spacex_all[0])
cores_df=pd.DataFrame(spacex_all[1])
dragons_df=pd.DataFrame(spacex_all[2])
history_df=pd.DataFrame(spacex_all[3])
Info_df=pd.DataFrame(spacex_all[4])
landpads_df=pd.DataFrame(spacex_all[5])
launches_df=pd.DataFrame(spacex_all[6])
launchpads_df=pd.DataFrame(spacex_all[7])
missions_df=pd.DataFrame(spacex_all[8])
payloads_df=pd.DataFrame(spacex_all[9])
rockets_df=pd.DataFrame(spacex_all[10])
roadster_df=pd.DataFrame(spacex_all[11])
ships_df=pd.DataFrame(spacex_all[12])

In [6]:
capsules_df = pd.DataFrame(spacex_all[0])

In [7]:
capsules_df.columns

Index(['capsule_id', 'capsule_serial', 'details', 'landings', 'missions',
       'original_launch', 'original_launch_unix', 'reuse_count', 'status',
       'type'],
      dtype='object')

In [8]:
def convertdate(x):
    x = pd.to_datetime(x,format='%Y-%m-%d')
    return x

In [ ]:
capsules_df = capsules_df[['capsule_id','capsule_serial','details','original_launch','landings','missions','type','reuse_count','status']].copy()

In [9]:
capsules_df['original_launch'] = pd.to_datetime(capsules_df['original_launch'],format='%Y-%m-%d')
capsules_df['original_launch'] = convertdate(capsules_df['original_launch'])
capsules_df['original_launch'] = capsules_df['original_launch'].apply(convertdate)
#three different ways to convert column original launch to datetime format.
#personally like the function convertdate as we can apply this to every dataframe that require format.

In [10]:
capsules_df

,capsule_id,capsule_serial,details,landings,missions,original_launch,original_launch_unix,reuse_count,status,type
0,dragon1,C101,Reentered after three weeks in orbit,0,"[{'name': 'COTS 1', 'flight': 7}]",2010-12-08 15:43:00+00:00,1.291823e+09,0,retired,Dragon 1.0
1,dragon1,C102,First Dragon spacecraft,1,"[{'name': 'COTS 2', 'flight': 8}]",2012-05-02 07:44:00+00:00,1.335945e+09,0,retired,Dragon 1.0
2,dragon1,C103,First of twenty missions flown under the CRS1 ...,1,"[{'name': 'CRS-1', 'flight': 9}]",2012-10-08 00:35:00+00:00,1.349656e+09,0,unknown,Dragon 1.0
3,dragon1,C104,None,1,"[{'name': 'CRS-2', 'flight': 10}]",2013-03-01 19:10:00+00:00,1.362165e+09,0,unknown,Dragon 1.0
4,dragon1,C105,First Dragon v1.1 capsule,1,"[{'name': 'CRS-3', 'flight': 14}]",2014-04-18 19:25:00+00:00,1.397849e+09,0,unknown,Dragon 1.1
5,dragon1,C106,First Dragon capsule to be reused,3,"[{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...",2014-09-21 05:52:00+00:00,1.411279e+09,2,active,Dragon 1.1
6,dragon1,C107,None,1,"[{'name': 'CRS-5', 'flight': 19}]",2015-01-10 09:47:00+00:00,1.420883e+09,0,unknown,Dragon 1.1
7,dragon1,C108,Second Dragon capsule to be reused,3,"[{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...",2015-04-14 20:10:00+00:00,1.429042e+09,2,active,Dragon 1.1
8,dragon1,C109,Destroyed on impact after F9 launch failure,0,"[{'name': 'CRS-7', 'flight': 24}]",2015-06-28 14:21:00+00:00,1.435501e+09,0,destroyed,Dragon 1.1
9,dragon1,C110,None,2,"[{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...",2016-04-08 20:43:00+00:00,1.460148e+09,1,active,Dragon 1.1
10,dragon1,C111,None,2,"[{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...",2016-07-18 04:45:00+00:00,1.468817e+09,1,active,Dragon 1.1
11,dragon1,C112,None,2,"[{'name': 'CRS-10', 'flight': 36}, {'name': 'C...",2017-02-19 14:39:00+00:00,1.487515e+09,1,active,Dragon 1.1
12,dragon1,C113,The last newly manufactured Dragon 1,2,"[{'name': 'CRS-12', 'flight': 45}, {'name': 'C...",2017-08-14 16:31:00+00:00,1.502728e+09,1,active,Dragon 1.1
13,dragon2,C201,Destroyed in a test anomaly at LZ-1 on April 2...,1,"[{'name': 'CCtCap Demo Mission 1', 'flight': 76}]",2019-03-02 07:45:00+00:00,1.551513e+09,0,active,Dragon 2.0
14,dragon2,C202,Capsule used to qualify Dragon 2's environment...,0,[],NaT,NaN,0,active,Dragon 2.0
15,dragon2,C203,Rumored to be used for Inflight Abort Test aft...,0,[],NaT,NaN,0,active,Dragon 2.0
16,dragon2,C204,Currently in construction for use in DM-2,0,[],NaT,NaN,0,active,Dragon 2.0
17,dragon2,C205,In construction for use in first mission in co...,0,[],NaT,NaN,0,active,Dragon 2.0

In [11]:
# Using lambda function to separate the dictionary in missions columns and adding as new columns

capsules_df['mission_name'] = capsules_df['missions'][0:14].apply(lambda x: x[0]['name'])
capsules_df['mission_flight'] = capsules_df['missions'][0:14].apply(lambda x: x[0]['flight'])

In [12]:
capsules_df

,capsule_id,capsule_serial,details,landings,missions,original_launch,original_launch_unix,reuse_count,status,type,mission_name,mission_flight
0,dragon1,C101,Reentered after three weeks in orbit,0,"[{'name': 'COTS 1', 'flight': 7}]",2010-12-08 15:43:00+00:00,1.291823e+09,0,retired,Dragon 1.0,COTS 1,7.0
1,dragon1,C102,First Dragon spacecraft,1,"[{'name': 'COTS 2', 'flight': 8}]",2012-05-02 07:44:00+00:00,1.335945e+09,0,retired,Dragon 1.0,COTS 2,8.0
2,dragon1,C103,First of twenty missions flown under the CRS1 ...,1,"[{'name': 'CRS-1', 'flight': 9}]",2012-10-08 00:35:00+00:00,1.349656e+09,0,unknown,Dragon 1.0,CRS-1,9.0
3,dragon1,C104,None,1,"[{'name': 'CRS-2', 'flight': 10}]",2013-03-01 19:10:00+00:00,1.362165e+09,0,unknown,Dragon 1.0,CRS-2,10.0
4,dragon1,C105,First Dragon v1.1 capsule,1,"[{'name': 'CRS-3', 'flight': 14}]",2014-04-18 19:25:00+00:00,1.397849e+09,0,unknown,Dragon 1.1,CRS-3,14.0
5,dragon1,C106,First Dragon capsule to be reused,3,"[{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...",2014-09-21 05:52:00+00:00,1.411279e+09,2,active,Dragon 1.1,CRS-4,18.0
6,dragon1,C107,None,1,"[{'name': 'CRS-5', 'flight': 19}]",2015-01-10 09:47:00+00:00,1.420883e+09,0,unknown,Dragon 1.1,CRS-5,19.0
7,dragon1,C108,Second Dragon capsule to be reused,3,"[{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...",2015-04-14 20:10:00+00:00,1.429042e+09,2,active,Dragon 1.1,CRS-6,22.0
8,dragon1,C109,Destroyed on impact after F9 launch failure,0,"[{'name': 'CRS-7', 'flight': 24}]",2015-06-28 14:21:00+00:00,1.435501e+09,0,destroyed,Dragon 1.1,CRS-7,24.0
9,dragon1,C110,None,2,"[{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...",2016-04-08 20:43:00+00:00,1.460148e+09,1,active,Dragon 1.1,CRS-8,28.0
10,dragon1,C111,None,2,"[{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...",2016-07-18 04:45:00+00:00,1.468817e+09,1,active,Dragon 1.1,CRS-9,32.0
11,dragon1,C112,None,2,"[{'name': 'CRS-10', 'flight': 36}, {'name': 'C...",2017-02-19 14:39:00+00:00,1.487515e+09,1,active,Dragon 1.1,CRS-10,36.0
12,dragon1,C113,The last newly manufactured Dragon 1,2,"[{'name': 'CRS-12', 'flight': 45}, {'name': 'C...",2017-08-14 16:31:00+00:00,1.502728e+09,1,active,Dragon 1.1,CRS-12,45.0
13,dragon2,C201,Destroyed in a test anomaly at LZ-1 on April 2...,1,"[{'name': 'CCtCap Demo Mission 1', 'flight': 76}]",2019-03-02 07:45:00+00:00,1.551513e+09,0,active,Dragon 2.0,CCtCap Demo Mission 1,76.0
14,dragon2,C202,Capsule used to qualify Dragon 2's environment...,0,[],NaT,NaN,0,active,Dragon 2.0,NaN,NaN
15,dragon2,C203,Rumored to be used for Inflight Abort Test aft...,0,[],NaT,NaN,0,active,Dragon 2.0,NaN,NaN
16,dragon2,C204,Currently in construction for use in DM-2,0,[],NaT,NaN,0,active,Dragon 2.0,NaN,NaN
17,dragon2,C205,In construction for use in first mission in co...,0,[],NaT,NaN,0,active,Dragon 2.0,NaN,NaN

In [13]:
# rearranging the columns and exporting to csv
capsules_df = capsules_df[['capsule_id','capsule_serial','details','original_launch','landings','mission_name','mission_flight','type','reuse_count','status']].copy()

capsules_df.to_csv('capsules.csv')

In [ ]:

# pd.concat([df.drop(['b'], axis=1), df['b'].apply(pd.Series)], axis=1)

In [ ]:
connection_string = 'postgres:postgres@localhost:5432/mission_spacex'
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
capsules_df.to_sql(name='capsules', con=engine, if_exists='replace', index=False)