In [23]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import time
import os
from pandas.io.json import json_normalize

In [3]:
#START CODE HERE#
#EXTRACT#

x = ['capsules',
     'cores',
     'dragons',
     'history',
     'info',
     'landpads',
     'launches',
     'launchpads',
     'missions',
     'payloads',
     'rockets',
     'roadster',
     'ships']

collection_df = pd.DataFrame(x,columns=['collection'])
   
# params1 = {
#     'collection': x 
    
# }
# response_base = requests.get(base_url,params1).json()
# response_base
collection_df

    collection
0     capsules
1        cores
2      dragons
3      history
4         info
5     landpads
6     launches
7   launchpads
8     missions
9     payloads
10     rockets
11    roadster
12       ships

In [4]:
url = 'https://api.spacexdata.com/v3/capsules'
response1 = requests.get(url).json()
response1[0]

# response1[0]['capsule_serial']
# response1[0]['capsule_id']
# response1[0]['status']
# response1[0]['original_launch']
# response1[0]['original_launch_unix']
# response1[0]['missions']
# response1[0]['landings']
# response1[0]['type']
# response1[0]['details']
# response1[0]['reuse_count']

{'capsule_serial': 'C101',
 'capsule_id': 'dragon1',
 'status': 'retired',
 'original_launch': '2010-12-08T15:43:00.000Z',
 'original_launch_unix': 1291822980,
 'missions': [{'name': 'COTS 1', 'flight': 7}],
 'landings': 0,
 'type': 'Dragon 1.0',
 'details': 'Reentered after three weeks in orbit',
 'reuse_count': 0}

In [6]:
spacex_all = []
for x in collection_df['collection']:
    url = 'https://api.spacexdata.com/v3/'+x
    response = requests.get(url).json()
    spacex_all.append(response)
#     lists.append(response)
#     response = requests.get(f'{url+row}').json()

In [7]:

collection_names = [x for x in collection_df['collection'] + '_df']

# for i in range(len(spacex_all)):
#     collection_names[i] = pd.DataFrame()
      
capsules_df = pd.DataFrame(spacex_all[0])
cores_df=pd.DataFrame(spacex_all[1])
dragons_df=pd.DataFrame(spacex_all[2])
history_df=pd.DataFrame(spacex_all[3])
Info_df=pd.DataFrame(spacex_all[4])
landpads_df=pd.DataFrame(spacex_all[5])
launches_df=pd.DataFrame(spacex_all[6])
launchpads_df=pd.DataFrame(spacex_all[7])
missions_df=pd.DataFrame(spacex_all[8])
payloads_df=pd.DataFrame(spacex_all[9])
rockets_df=pd.DataFrame(spacex_all[10])
roadster_df=pd.DataFrame(spacex_all[11])
ships_df=pd.DataFrame(spacex_all[12])

In [70]:
capsules_df.columns

Index(['capsule_serial', 'capsule_id', 'status', 'original_launch',
       'original_launch_unix', 'missions', 'landings', 'type', 'details',
       'reuse_count'],
      dtype='object')

In [10]:
def convertdate(x):
    x = pd.to_datetime(x,format='%Y-%m-%d')
    return x

def convertunix(x):
    x = pd.to_datetime(x,unit='s')
    return x

In [74]:
capsules_df = capsules_df[['capsule_id','capsule_serial','details','original_launch','landings','missions','type','reuse_count','status']].copy()
capsules_df['original_launch'] = capsules_df['original_launch'].apply(convertdate)
capsules_df.head()

,capsule_id,capsule_serial,details,original_launch,landings,missions,type,reuse_count,status
0,dragon1,C101,Reentered after three weeks in orbit,2010-12-08 15:43:00+00:00,0,"[{'name': 'COTS 1', 'flight': 7}]",Dragon 1.0,0,retired
1,dragon1,C102,First Dragon spacecraft,2012-05-02 07:44:00+00:00,1,"[{'name': 'COTS 2', 'flight': 8}]",Dragon 1.0,0,retired
2,dragon1,C103,First of twenty missions flown under the CRS1 ...,2012-10-08 00:35:00+00:00,1,"[{'name': 'CRS-1', 'flight': 9}]",Dragon 1.0,0,unknown
3,dragon1,C104,None,2013-03-01 19:10:00+00:00,1,"[{'name': 'CRS-2', 'flight': 10}]",Dragon 1.0,0,unknown
4,dragon1,C105,First Dragon v1.1 capsule,2014-04-18 19:25:00+00:00,1,"[{'name': 'CRS-3', 'flight': 14}]",Dragon 1.1,0,unknown

In [122]:
capsules_missions_df = capsules_df[['capsule_serial','missions']].copy()

# capsules_missions_df = pd.concat([capsules_missions_df.drop('missions', axis=1), capsules_missions_df['missions'].apply(pd.to_dict), axis=1)
capsules_missions_df

   capsule_serial                                           missions
0            C101                  [{'name': 'COTS 1', 'flight': 7}]
1            C102                  [{'name': 'COTS 2', 'flight': 8}]
2            C103                   [{'name': 'CRS-1', 'flight': 9}]
3            C104                  [{'name': 'CRS-2', 'flight': 10}]
4            C105                  [{'name': 'CRS-3', 'flight': 14}]
5            C106  [{'name': 'CRS-4', 'flight': 18}, {'name': 'CR...
6            C107                  [{'name': 'CRS-5', 'flight': 19}]
7            C108  [{'name': 'CRS-6', 'flight': 22}, {'name': 'CR...
8            C109                  [{'name': 'CRS-7', 'flight': 24}]
9            C110  [{'name': 'CRS-8', 'flight': 28}, {'name': 'CR...
10           C111  [{'name': 'CRS-9', 'flight': 32}, {'name': 'CR...
11           C112  [{'name': 'CRS-10', 'flight': 36}, {'name': 'C...
12           C113  [{'name': 'CRS-12', 'flight': 45}, {'name': 'C...
13           C201  [{'name': 'CCtCap Demo Mission 1', 'flight': 76}]
14           C202                                                 []
15           C203                                                 []
16           C204                                                 []
17           C205                                                 []

In [12]:
# capsules_df['original_launch'] = pd.to_datetime(capsules_df['original_launch'],format='%Y-%m-%d')
# capsules_df['original_launch'] = convertdate(capsules_df['original_launch'])
# capsules_df['original_launch'] = capsules_df['original_launch'].apply(convertdate)
#three different ways to convert column original launch to datetime format.
#personally like the function convertdate as we can apply this to every dataframe that require format.

In [32]:
# capsules_df = capsules_df.drop(['missions'],axis=1)

In [11]:
# Using lambda function to separate the dictionary in missions columns and adding as new columns
# capsules_df['mission_name'] = capsules_df['missions'][0:14].apply(lambda x: x[0]['name'])
# capsules_df['mission_flight'] = capsules_df['missions'][0:14].apply(lambda x: x[0]['flight'])

In [106]:
capsules_missions_df.head()

# capsules_df = pd.concat([capsules_df['missions'].apply(pd.Series)], axis=1)
# capsules_df = pd.concat([capsules_df.drop('missions', axis=1), capsules_df['missions'].apply(pd.Series)], axis=1)

  capsule_serial                           missions
0           C101  [{'name': 'COTS 1', 'flight': 7}]
1           C102  [{'name': 'COTS 2', 'flight': 8}]
2           C103   [{'name': 'CRS-1', 'flight': 9}]
3           C104  [{'name': 'CRS-2', 'flight': 10}]
4           C105  [{'name': 'CRS-3', 'flight': 14}]

In [107]:
for x in capsules_missions_df['missions'][0]:
    capsules_missions_df = json_normalize(x)

In [108]:
capsules_missions_df

     name  flight
0  COTS 1       7

In [65]:
# capsules_df = json_normalize(capsules_df['0'])

In [13]:
# rearranging the columns and exporting to csv
capsules_df = capsules_df[['capsule_id','capsule_serial','details','original_launch','landings','mission_name','mission_flight','type','reuse_count','status']].copy()

# capsules_df.to_csv('capsules.csv')

In [66]:

# pd.concat([df.drop(['b'], axis=1), df['b'].apply(pd.Series)], axis=1)

In [16]:
connection_string = 'postgres:root123@localhost:5432/mission_spacex'
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
engine.table_names()

['capsules',
 'capsule_mission',
 'cores',
 'cores_mission',
 'dragons',
 'thrusters',
 'history']

In [36]:
capsules_df.to_sql(name='capsules', con=engine,if_exists='append', index=False)